<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qc.testng.test.RegisterTest"/>
      <class name="com.qc.testng.test.LoginTest"/>
    </classes>
  </test> <!-- Test -->
   <listeners>
		<listener class-name="com.qc.testng.utils.TestReportGenerator" />
  </listeners>
</suite> <!-- Suite -->
